.navbar.navbar-default.navbar-fixed-top
  .container(style='font-size:20px')
    .navbar-header
      a.navbar-brand(href='') Pablee
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href='/shop?q=')
            span.nav-icon.pe-7s-shopbag
            span Shop
        li
          a(href='/travel') 
            span.nav-icon.pe-7s-plane
            span Travel
      ul.nav.navbar-nav.navbar-right
        li
          a(href='items') 
            span.nav-icon.pe-7s-cart
            span Shopping Items
        li
          a(href='items') 
            span.nav-icon.pe-7s-box2
            span Delivery Items 
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            img.profile-pic(src= user.facebook.profilePicture)
          ul.dropdown-menu(aria-labelledby='download')
            li
              a(href='/logout') Logout

