extends layout

block content
  include navbar.pug
  .row(style='    background: #ECF0F1; padding: 40px 0px')
    .col-xs-12
      .container
        .row
          .col-md-offset-2.col-xs-8
            form(role='search', method='get', action='/shop')
              .input-group.input-group-lg
                input.form-control(type='text', placeholder='Search product name' name='q' value= q)
                .input-group-btn
                  button.btn.btn-default(type='submit') Search
  br
  br
  br
  if q==null
    .container
      .row
        .col-sm-4
          #card.weater
            .city-selected
              a(href='')
                article
                  .info
                    .night China
                figure(style='background-image: url(http://cdn.touropia.com/gfx/d/world-famous-walls/great_wall_of_china.jpg)')
            .days
              .row.row-no-gutter
                .col-md-4
                  .day
                    h5 Stores
                    span 10
                .col-md-4
                  .day
                    h5 Products
                    span 2
                .col-md-4
                  .day
                    h5 Travelers
                    span 4
        .col-sm-4
          #card.weater
            .city-selected
              a(href='')
                article
                  .info
                    .night Japan
                figure(style='background-image: url(http://cdn.touropia.com/gfx/d/amazing-volcanoes/mount_fuji.jpg)')
            .days
              .row.row-no-gutter
                .col-md-4
                  .day
                    h5 Stores
                    span 10
                .col-md-4
                  .day
                    h5 Products
                    span 2
                .col-md-4
                  .day
                    h5 Travelers
                    span 4
        .col-sm-4
          #card.weater
            .city-selected
              a(href='')
                article
                  .info
                    .night Malaysia
                figure(style='background-image: url(http://cdn.touropia.com/gfx/d/iconic-skyscrapers/petronas_twin_towers.jpg)')
            .days
              .row.row-no-gutter
                .col-md-4
                  .day
                    h5 Stores
                    span 10
                .col-md-4
                  .day
                    h5 Products
                    span 2
                .col-md-4
                  .day
                    h5 Travelers
                    span 4
      br
      br
      br
      .row
        .col-sm-4
          #card.weater
            .city-selected
              a(href='')
                article
                  .info
                    .night Philippines
                figure(style='background-image: url(http://faq.ph/wp-content/uploads/2015/11/Banaue-Rice-Terraces-.jpg)')
            .days
              .row.row-no-gutter
                .col-md-4
                  .day
                    h5 Stores
                    span 10
                .col-md-4
                  .day
                    h5 Products
                    span 2
                .col-md-4
                  .day
                    h5 Travelers
                    span 4
        .col-sm-4
          #card.weater
            .city-selected
              a(href='')
                article
                  .info
                    .night Thailand
                figure(style='background-image: url(http://cdn.touropia.com/gfx/d/top-attractions-in-thailand/ayuthaya.jpg)')
            .days
              .row.row-no-gutter
                .col-md-4
                  .day
                    h5 Stores
                    span 10
                .col-md-4
                  .day
                    h5 Products
                    span 2
                .col-md-4
                  .day
                    h5 Travelers
                    span 4

        .col-sm-4
          #card.weater
            .city-selected
              a(href='')
                article
                  .info
                    .night Vietnam
                figure(style='background-image: url(http://cdn.touropia.com/gfx/d/beautiful-bays-in-the-world/ha_long_bay.jpg)')
            .days
              .row.row-no-gutter
                .col-md-4
                  .day
                    h5 Stores
                    span 10
                .col-md-4
                  .day
                    h5 Products
                    span 2
                .col-md-4
                  .day
                    h5 Travelers
                    span 4

  else if products.length > 0
    .container
      .row
        each product in products
          .col-md-4
            .thumbnail
              div.clearfix(style='background: #fff; padding: 5px 10px;')
                h5.pull-left
                  a(href='#')
                    span.pe-7s-cart
                    = ' Sold by ' + product.merchant.shopify.shop.name
                h5.pull-right
                  span.pe-7s-map-marker
                  = product.merchant.shopify.shop.country
              img(src= product.imageUrl, alt= product.title, style='width:310px;')
              .caption
                h4.pull-right= '$' + product.price
                h4
                  a(href='#')= product.title
                p!= product.description
              a.btn.btn-primary.btn-block(href='/request/'+product.id) Request Item

  else
    .container
        h4 Sorry! No product items matched with your query.
