extends layout

block content
  include navbar.pug
  .row(style='    background: #ECF0F1; padding: 40px 0px')
    .col-xs-12
      .container
        .row
          .col-md-offset-2.col-xs-8
            form(role='search', method='get', action='/shop')
              .input-group.input-group-lg
                input.form-control(type='text', placeholder='Search product name' name='q')
                .input-group-btn
                  button.btn.btn-default(type='submit') Search
  br
  br
  br
  .container
    .row
      .col-sm-4
        #card.weater
          .city-selected
            a(href='')
              article
                .info
                  .night Philippines
              figure(style='background-image: url(http://136.243.1.253/~creolitic/bootsnipp/home.jpg)')
          .days
            .row.row-no-gutter
              .col-md-4
                .day
                  h5 Stores
                  span 10
              .col-md-4
                .day
                  h5 Products
                  span 2
              .col-md-4
                .day
                  h5 Travelers
                  span 4
      .col-sm-4
        #card.weater
          .city-selected
            a(href='')
              article
                .info
                  .night Philippines
              figure(style='background-image: url(http://136.243.1.253/~creolitic/bootsnipp/home.jpg)')
          .days
            .row.row-no-gutter
              .col-md-4
                .day
                  h5 Stores
                  span 10
              .col-md-4
                .day
                  h5 Products
                  span 2
              .col-md-4
                .day
                  h5 Travelers
                  span 4
      .col-sm-4
        #card.weater
          .city-selected
            a(href='')
              article
                .info
                  .night Philippines
              figure(style='background-image: url(http://136.243.1.253/~creolitic/bootsnipp/home.jpg)')
          .days
            .row.row-no-gutter
              .col-md-4
                .day
                  h5 Stores
                  span 10
              .col-md-4
                .day
                  h5 Products
                  span 2
              .col-md-4
                .day
                  h5 Travelers
                  span 4
    br
    br
    br
    .row
      .col-sm-4
        #card.weater
          .city-selected
            a(href='')
              article
                .info
                  .night Philippines
              figure(style='background-image: url(http://136.243.1.253/~creolitic/bootsnipp/home.jpg)')
          .days
            .row.row-no-gutter
              .col-md-4
                .day
                  h5 Stores
                  span 10
              .col-md-4
                .day
                  h5 Products
                  span 2
              .col-md-4
                .day
                  h5 Travelers
                  span 4
      .col-sm-4
        #card.weater
          .city-selected
            a(href='')
              article
                .info
                  .night Philippines
              figure(style='background-image: url(http://136.243.1.253/~creolitic/bootsnipp/home.jpg)')
          .days
            .row.row-no-gutter
              .col-md-4
                .day
                  h5 Stores
                  span 10
              .col-md-4
                .day
                  h5 Products
                  span 2
              .col-md-4
                .day
                  h5 Travelers
                  span 4

      .col-sm-4
        #card.weater
          .city-selected
            a(href='')
              article
                .info
                  .night Philippines
              figure(style='background-image: url(http://136.243.1.253/~creolitic/bootsnipp/home.jpg)')
          .days
            .row.row-no-gutter
              .col-md-4
                .day
                  h5 Stores
                  span 10
              .col-md-4
                .day
                  h5 Products
                  span 2
              .col-md-4
                .day
                  h5 Travelers
                  span 4