.spacer {
  height: 100px;
}

.or{
  margin: 100px 0px;
  font-size: 24px;
}

.account-desc {
  font-size: 26px;
  margin-top:20px;
}

.short-desc {
  margin-top: 14px;
  font-size: 16px;
}

.account-icon {
  width: 140px;
}